django
python-decouple
celery
django-htmx
django-redis
django-allauth[socialaccount]
django-debug-toolbar
psycopg2-binary
whitenoise
django-tailwind[reload]
django-allauth-ui
django-widget-tweaks
slippers
gunicorn
Celery
django-celery-beat 
django-celery-results
flower
dj-database-url
redis